<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Home</title>
<link rel="stylesheet" href="/skibidiRizz.css">
</head>
<body>
<section class="banner">
    <header>
        <a href="#" class="logo">Tails<span>Scales</span></a>
        <div class="toggle"></div>
    </header>
    <img src="girl (2).png" class="dog">
    <div class="content">
        <div class="contentBx">
        <h4>Hello,</h4>
        <h2>Welcome <span>To Tails and Scales</span></h2>
        <h3>Pet adoption clinic</h3>
        <p>Here our mission statement is to make sure that all animals find a home that belongs to them and are treated with the up most respected</p>
        <a href="/pets">Pets</a>
        <a href="/pets/new">Donate Pets</a>
        </div>
    </div>
    <ul class="sci">
        <li><a href="https://www.facebook.com"><img src="facebook.png"></a></li>
        <li><a href="#"><img src="twitter.png"></a></li>
        <li><a href="https://www.instagram.com"><img src="instagram.png"></a></li>
    </ul>
    <ul class="menu">
        <li><a href="/index">Home</a></li>
        <li><a href="/pets/new">Donate Pets</a></li>
        <li><a href="/pets">gallery</a></li>
    </ul>
    </section>
    <script>
    let banner = document.querySelector('.banner');
    let menutoggle = document.querySelector('.toggle');
    menutoggle.onclick = function(){
        menutoggle.classList.toggle('active');
        banner.classList.toggle('active');
    }
    </script>
</body>
</html>
